*{
    box-sizing: border-box;
}

body{
    position: relative;
    padding: 0;
    margin: 0;
}

.container{
    width: 100%;
    height: 100vh;
}
.dflex{
    display: flex;
}

.dflex.jcc{
    justify-content: center;
}

.dflex.jcsb{
    justify-content: space-between;
}

.dflex.aic{
    align-items: center;
}

.dflex.fdc{
    flex-direction: column;
}

.flex1{
    flex: 1;
}

.flex2{
    flex: 2;
}


/* ------------------------ */
.card{
    height: 55vh;
    width: 60%;
    background-color: #27566B;
    padding: 10px;
    color: #E5E8E9;
    font-family: 'Courier New', Courier, monospace;
    position: relative;
}

img{
    width: 100%;
    height: 100%;
}
.photo{
    border-left: 2px solid #E5E8E9;
    padding-left: 10px;
}

.infos{
    height: 40%;
}

.info{
    padding-right: 10px;
}

.row .label{
    font-size: 2rem;
    font-weight: 900;
}

.row .data{
    font-size: 1.5rem;
}

.title{
    font-size: 1.5rem;
}

.btn-detail{
    font-weight: 900;
    font-size: 1.8rem;
    cursor: pointer;
}

.form{
    position: absolute;
    padding: 10px;
    top: 0;
    left: 100%;
    background-color: #27566B;
    display: none;
    /* background-color: #06293D;27566B */
}

.active{
    display: block;
}

.form-group{
    margin-bottom: 10px;
}

.from-control{
    width: 200px;
    padding: 10px;
    text-align: center;
}

.form-group label{
    font-size: 1.20rem;
}

input.from-control{
    font-size: 1.5rem;
    border-radius: 5px;
    border: #799eb0;
    outline: none;
}

select{
    outline: none;
    border-radius: 5px;
}

.select{
    width: 100%;
}

.option{
    font-size: 1rem;
    text-align: center;
}
.form button{
    width: 100%;
    background-color: #06293D;
    color: #E5E8E9;
    outline: none;
    border: 1px solid #799eb0;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
}

.next{
    padding: 5px 20px;
    font-size: 1.09rem;
    margin-top: 10px;
    background-color: #27566B;
    border-radius: 5px;
    outline: none;
    border: none;
    color: #E5E8E9;
}

button{
    cursor: pointer;
}

table{
    width: 100%;
    background-color: #799eb0;
}

.transactions{
    height: 50%;
    overflow: scroll;
}

tr,td{
    text-align: center;
    line-height: 30px;
}

.form.hide{
    display: none;
}

.modal{
    position: absolute;
    width: 60%;
    height: 50vh;
    top: 35%;
    left: 20%;
    color: white;
    font-size: 1.3rem;
    font-family: 'Courier New', Courier, monospace;
    display: none;
}

.modal-title{
    height: 20%;
    background-color: #27566B;;
}

.body-modal{
    width: 100%;
    height: 60%;
    background-color: rgb(145, 232, 232);
    color: black;
}

.footer-modal{
    height: 20%;
    background-color: #27566B;
}

.ajouter, .annuler{
    padding: 2%;
    margin: 3%;
    width: 15%;
    border-radius: 10px;
    font-size: 1.3rem;
    font-family: 'Courier New', Courier, monospace;
}

.ajouter:hover , .annuler:hover{
    background-color: rgb(145, 232, 232);
}

.user{
    margin: 1%;
    width: 70%;
}

.contain{
    outline: none;
}

.addUsers{
    position: absolute;
    top: -8%;
    left: 0;
    width: 5%;
    height: 8%;
    background-color: #27566B;
}

.searchUser{
    width: 50%;
    left: 50%;
    border-radius: 10px 10px 0 0;
}
.search{
    outline: none;
    border: none;
    font-size: 1.2rem;
    text-align: center;
    background-color: #27566B;
    color: white;
}

.phone, .tel{
    position: absolute;
    top: 0;
    width: 20%;
    line-height: 2;
    cursor: pointer;
    background-color: #27566B;
    color: white;
}

.tel{
    top: 48.5%;
    right: 9.7%;
    width: 10.5%;
}

.optionRemove{
    position: absolute;
    right: 1%;
    width: 8%;
    height: 5%;
}

.sens{
    position: absolute;
    width: 20%;
    right: 10%;
}

.mess{
    position: absolute;
    top: 0;
    width: 25%;
    height: 7%;
    padding: 2%;
    font-size: 1.1rem;
    font-weight: bold;
    border-radius: 20px;
    background-color: #27566B;
    color: white;
    animation: message 5s infinite;
}

@keyframes message
{
    0%
    {
        top: 0;
    }
    50%
    {
        top: 8%;
    }
    100%
    {
        top: 0;
    }
}